.card-container {
  margin: auto;
  width: 100%;
  max-width: 1020px;
  text-align: center;
}

.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 100%;
  max-width: 305px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #999;
  text-align: left;
  background: #fff;
  color: #999;
  font-size: 16px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid #11aacc;
  color: #11aacc;
}

.topic-card {
  max-width: 480px;
}

.course-card {
  width: 235px;
  margin: 10px;
  border: 1px solid #ccc;
}

.featured-card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  max-width: 305px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #999;
  text-align: left;
  background: #fff;
  color: #999;
  font-size: 16px;
}

.featured-card .inner-card {
  padding: 25px 30px;
}

.featured-card h2 {
  padding: 0;
  line-height: 27px;
}

.featured-des {
  padding: 25px 30px;
  border-top: 1px solid #ccc;
}

.featured-link {
  display: block;
  color: #ccc;
  border-top: 1px solid #ccc;
  padding: 20px 30px;
}

.featured-link:hover {
  background: #fafafa;
  color: #11aacc;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}

.course-code {
  display: inline-block;
  max-width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.int-card {
  width: auto;
  padding-left: 35px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 25px;
  color: #333;
}

.int-card p {
  color: #999;
  margin-top: 2px;
}

.int-card a {
  color: #11aacc;
}

.int-card a:hover {
  text-decoration: underline;
}

.int-card:hover, .int-card:focus {
  border: 1px #11aacc solid;
  color: #333;
}

.int-card.active {
  border: 1px #11aacc solid;
  color: #333;
  background: rgba(17, 170, 204, 0.05);
}

.int-card-h {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.add-school {
  border: 1px dashed #11aacc;
  color: #11aacc;
}

.add-school:hover {
  border: 1px dashed #11aacc;
  background: rgba(17, 170, 204, 0.1);
}

.add-course {
  border: 1px dashed #11aacc;
  color: #11aacc;
}

.add-course:hover {
  border: 1px dashed #11aacc;
  background: rgba(17, 170, 204, 0.1);
}

.card-arrow {
  display: block;
  float: right;
}

.no-results {
  border: none;
  pointer-events: none;
  font-weight: 400;
  font-size: 22px;
  color: #ccc;
}

.no-results:hover {
  background: transparent;
  border: none;
  color: #ccc;
}

.featured-tag {
  background: #11aacc;
  color: #fff;
  font-size: 16px;
  padding: 4px 10px 5px;
  border-radius: 5px;
}

.course-subtitle {
  font-size: 18px;
}

.doc {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 260px;
  height: 360px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.doc:hover {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #11aacc;
}

.doc {
  padding-top: 1px;
  color: #666;
}
