.access-code-signup {
  text-align: center;
  margin: 15px 0px;
  color: grey;
}

a.course-signup-link {
  border-bottom: 2px solid grey !important;
  text-align: center !important;
  padding: 0px !important;
  display: inline !important;
  font-size: 20px;
}

a.course-signup-link:hover {
  color: #11aacc !important;
  border-bottom: 2px solid #11aacc !important;
}

td.course-signup-td {
  font-size: 20px;
  text-align: center;
  padding: 50px 10px;
}

.available {
  color: #11aacc;
}

.unavailable {
  opacity: 0.25;
}

td.upload-exam-container {
  opacity: 1;
  padding: 5px;
}

.upload-exam {
  text-align: center;
  color: #999;
  border: 1px dashed #999;
  padding: 10px 0 12px 0;
  margin-right: 5px;
  border-radius: 5px;
}

.upload-exam:hover {
  cursor: pointer;
  color: #11aacc;
  border: 1px dashed #11aacc;
}

.int-box {
  margin: 32px 5px;
  padding: 25px 25px 24px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.int-helper {
  display: inline-block;
  color: #999;
}

.int-highlight {
  color: #666;
  font-weight: 700;
}

button.int-button {
  float: right;
  margin-top: -8.5px;
  background-color: #11aacc;
  padding: 10px 15px;
  border: none;
  max-height: 40px;
  border-radius: 5px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.9;
  -webkit-appearance: none;
}

@media (max-width: 1199px) {
  button.int-button {
    float: none;
    margin-top: 15px;
  }
}

button.int-button:hover {
  cursor: pointer;
}

.getInfo-enter {
  max-height: 0px;
  opacity: 0.00;
}

.getInfo-enter.getInfo-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: opacity 500ms ease-in, max-height 500ms ease-in;
}

.getInfo-leave {
  max-height: 500px;
  opacity: 1;
}

.getInfo-leave.getInfo-leave-active {
  opacity: 0;
  max-height: 0px;
  transition: opacity 500ms ease-in, max-height 500ms ease-in;
}

.getInfoButton-enter {
  opacity: 0.00;
}

.getInfoButton-enter.getInfoButton-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.getInfoButton-leave {
  opacity: 1;
}

.getInfoButton-leave.getInfoButton-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

input[type="text"].professor-info {
  border-radius: 5px;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  padding: 5px 10px;
  width: 200px;
}

@media (max-width: 1199px) {
  .interactive-container {
    padding: 0px 25px;
  }
}

.int-form label, .int-form select {
  display: inline-block;
}

.int-form label {
  width: 80px;
  font-size: 14px;
  color: #000;
  text-align: right;
  margin-right: 10px;
}

.int-form select {
  width: 200px;
  font-size: 14px;
  background: white;
}

.int-row {
  margin: 5px 0px;
}

.int-browse-link {
  color: #999;
}

@media (max-width: 1199px) {
  .study-guide-summary-container {
    margin: 0 25px;
  }
}
