.access-code-signup {
  text-align: center;
  margin: 15px 0px;
  color: grey;
}

a.course-signup-link {
  border-bottom: 2px solid grey !important;
  text-align: center !important;
  padding: 0px !important;
  display: inline !important;
  font-size: 24px;
}

a.course-signup-link:hover {
  color: #11aacc !important;
  border-bottom: 2px solid #11aacc !important;
}

td.course-signup-td {
  font-size: 24px;
  text-align: center;
  padding: 50px 10px;
}
