* {
  vertical-align: baseline;
  font-style: normal;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
}

body {
  position: relative;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
  color: #333;
}

input {
  -webkit-appearance: none;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.loader {
  padding: 100px 0;
  font-size: 20px;
  text-align: center;
  color: #ccc;
}

.footer-holder {
  width: 100%;
  height: 62px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.material-icons {
  vertical-align: middle;
}

::-moz-selection {
  color: #fff;
  background: #11aacc;
}

::selection {
  color: #fff;
  background: #11aacc;
}

.center {
  text-align: center;
  margin: auto;
}

.white-text {
  color: #fff;
}

.blue {
  background: #11aacc !important;
}

.blue::after {
  border-color: #11aacc transparent transparent transparent !important;
}

.gray {
  background: #999 !important;
}

.light-gray {
  background: #f4f4f4;
}

.dark-gray {
  background: #444;
}

.s0-5, .s1, .s2, .s3, .s4, .s5, .s7-5, .s8 {
  display: block;
  width: 100%;
  clear: both;
}

.s0-5 {
  height: 5px;
}

.s1 {
  height: 10px;
}

.s2 {
  height: 20px;
}

.s3 {
  height: 30px;
}

.s4 {
  height: 40px;
}

.s5 {
  height: 50px;
}

.s7-5 {
  height: 75px;
}

.s8 {
  height: 80px;
}

.active {
  color: #11aacc;
  border-color: #11aacc;
}

.hidden {
  display: none !important;
}
