.userhome h4 {
  padding-top: 120px;
}

.home-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 80px;
  text-align: right;
}

.home-nav .container {
  display: flex;
  flex-align: row;
}

.home-scrolls {
  padding-bottom: 15px;
}

.home-logo {
  float: left;
  padding: 25px 0;
  height: 80px;
}

.home-error {
  position: relative;
  top: 10px;
  color: #ee3344;
}

.home-icon {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 29px;
  left: 15px;
  font-size: 22px;
}

.home-search-container {
  flex: 1;
  position: relative;
  margin: 25px 0 25px 10px;
  left: -15px;
}

.home-search {
  display: block;
  float: left;
  text-align: left;
  padding: 5px 0 5px 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  top: -1px;
  width: 145px;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.home-search:focus {
  width: 100%;
}

.home-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.home-search-container .nav-results {
  float: left;
  text-align: left;
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0;
  top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
}

.home-button {
  padding: 9px 20px 10px;
  margin: 19px 0 19px 15px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.9;
  text-align: center;
}

.home-button:hover {
  cursor: pointer;
  opacity: 1;
  color: #fff;
}

.home-button-alt {
  padding: 9px 15px 10px;
  margin-left: 0;
  border: transparent;
}

.banner {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 110px 0 0;
  background: #11aacc;
}

.banner-screen {
  width: 100%;
  max-width: 1020px;
}

.banner-img::after {
  background: -moz-linear-gradient(20deg, rgba(17,172,204,0.98) 30%, rgba(17,172,204,0.85) 100%);
  background: -webkit-linear-gradient(20deg, rgba(17,172,204,0.98) 30%, rgba(17,172,204,0.85) 100%);
  background: linear-gradient(20deg, rgba(17,172,204,0.98) 30%, rgba(17,172,204,0.85) 100%);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.banner-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: relative;
  z-index: 1;
}

.banner-header {
  line-height: normal;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 44px;
  color: #fff;
}

.h5-alt {
  font-size: 22px;
  color: #fff;
  opacity: 0.8;
  padding: 0 50px;
}

.search-container {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
  max-width: 655px;
  margin-top: 35px;
}

.search-link {
  color: #fff;
  display: inline-block;
  padding: 20px 20px 0;
  opacity: 0.9;
}

.search-link:hover {
  color: #fff;
  opacity: 1;
}

.search-link .material-icons {
  position: relative;
  top: -2px;
  left: -7px;
}

.search-link .school {
  left: -9px;
}

.search {
  flex: 1;
  display: block;
  float: left;
  text-align: left;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  box-shadow: 0 0 16px 4px rgba(255, 255, 255, 0.1);
}

.early-access {
  padding: 15px 20px;
  border-radius: 0 5px 5px 0;
  background: rgba(0, 136, 170, 1);
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  box-shadow: 2px 2px 16px 4px rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1000px) {
  .early-access {
    border-radius: 5px;
  }
}

.early-access:hover {
  background: rgba(0, 119, 153, 1);
  color: #fff;
  cursor: pointer;
}

.courses .content {
  padding-bottom: 90px;
}

.home h1 {
  padding: 0;
}

.home h4 {
  padding: 0;
}

.feature-column {
  display: inline-block;
  margin-top: 50px;
  padding: 0px 20px;
}

.feature-caption {
  width: 450px;
  margin: 0 auto;
}

img.feature-image-one {
  margin-bottom: 15px;
  width: 500px;
  height: 450px;
}

img.feature-image-two {
  margin-bottom: 25px;
  width: 600px;
  height: 450px;
}

.column {
  padding: 10px;
  display: inline-block;
  max-width: 320px;
}

.column .material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 36px;
  color: #ccc;
  padding: 5px 0 15px;
}

.column * {
  text-align: center;
}

.features {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.schools h4 {
  padding-top: 0;
}

.footer-link, .header-link {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.error-link {
  color: #999;
  border-bottom: 1px dashed #999;
}

.footer-link:hover {
  color: #ccc;
  border-bottom: 1px dashed #ccc;
}

.header-link:hover, .error-link:hover {
  color: #11aacc;
  border-bottom: 1px dashed #11aacc;
}

.notification-text {
  position: relative;
  /*Pixel pushing for vertical centering*/
  top: 1px;
  display: block;
  padding: 0 50px;
}

.notification-x {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: #fff;
  z-index: 2;
  float: right;
  right: 15px;
}

.results em {
  text-decoration: underline;
}

p.waitlisted-message {
  font-size: 22px;
  color: grey;
  padding: 180px 20px 0px 20px;
  line-height: 28px;
}

.optional-courses {
  margin: 20px 20px 0px;
  display: inline-block;
  width: 60%;
}

.optional-courses-btn {
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 10px;
  background-color: #11aacc;
  color: white;
  position: relative;
  bottom: 12px;
  opacity: 0.9;
  margin: 10px 0px;
}

.optional-courses-btn:hover {
  cursor: pointer;
  opacity: 1.0;
}

.optional-courses-choice {
  background-color: #11aacc;
}

.Select--multi .Select-value {
  border: #fff;
  color: #fff;
  background-color: #11aacc;
}

.Select--multi .Select-value-icon {
  border-right: 1px solid #fff;
}

.Select--multi .Select-multi-value-wrapper {
  float: left;
}
