.topic-container {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.topic {
  font-size: 28px;
  font-weight: 600;
  margin: 50px 15px 25px;
}

.subtopic {
  width: 195px;
  float: left;
  margin: 15px 15px 5px;
  height: 100px;
}

.subtopic > label, .subtopic > a {
  text-align: left;
  font-size: 14px !important;
}

.background {
  background-color: #e9e9e9;
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: auto;
  height: 600px;
  position: relative;
  max-width: 1000px;
  margin: -285px auto auto;
  top: 50%;
  position: relative;
}

.box-header {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 25px 20px;
  border-bottom: 1px solid #ccc;
}

.back-arrow {
  position: relative;
  top: -1px;
  color: #ccc;
}

.back-arrow:hover {
  color: #11aacc;
  cursor: pointer;
}

.problem-content {
  height: 400px;
  padding: 40px 50px;
}

.box-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 16px 30px 15px;
}

.progress-label {
  position: relative;
  top: -3px;
  padding: 0 15px;
  color: #999;
  font-weight: 700;
}

.progress-label-light {
  color: #ccc;
  font-weight: 400;
}

.progress-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  margin: 12px 8px 0;
  opacity: 0.9;
}

.progress-done {
  background: #11aacc;
  border: none;
}

.progress-current {
  border: 1.5px solid #11aacc;
  background: #fff;
}

.progress-circle:hover {
  opacity: 1;
  cursor: pointer;
}

.box-buttons {
  float: right;
}

/*.box-footer::after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}*/

.skip-button {
  background-color: #ccc;
  border: 1px solid #888;
  color: #888;
  font-size: 20px;
  margin: 20px 40px;
  float: left;
  padding: 10px 30px;
  border-radius: 12px;
}

.skip-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.check-button {
  background-color: #80D480;
  color: white;
  font-size: 20px;
  margin: 20px 40px;
  float: right;
  padding: 10px 30px;
  border-radius: 12px;
}

.check-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.problem-answer {
  margin: 15px 0px 100px;
  position: absolute;
  bottom: 0;
}

@media(max-width: 699px) {
  .problem-answer {
    margin-bottom: 180px;
  }
  .problem-solution {
    margin-bottom: 200px;
  }
}

.problem-answer label {
  color: grey;
  display: inline;
}

.problem-answer input {
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  padding: 5px 15px 5px 10px;
  text-align: left;
  margin: 0px 15px;
  font-size: 20px;
}

.problem-solution {
  height: 260px;
  color: #33aacc;
  margin: 30px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.correct-answer {
  background-color: #DDFF99;
}

.wrong-answer {
  background-color: #FEA4A4;
}

.correct-answer-style {
  border-color: #80D480 !important;
  color: #80D480 !important;
}

.wrong-answer-style {
  border-color: #FF1515 !important;
  color: #FF1515 !important;
}

.inline-input {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  width: 50px;
}

.answer-status {
  float: left;
  margin: 30px 50px;
  font-size: 24px;
  font-weight: 600;
}

/* Transitions */
.contents-enter {
  opacity: 0.01;
}

.contents-enter.contents-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.contents-leave {
  opacity: 1;
}

.contents-leave.contents-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.problems-progress {
  margin: 25px;
}

h1.congratulations-text {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}

h2.info-text {
  text-align: center;
}

.end-text {
  padding: 150px 0px;
}

.fa-check-circle {
  color: #11aacc;
}

.fa-lock {
  font-size: 18px;
  margin: 0 1px;
  position: relative;
  top: 1px;
}
