.mobile-logo {
  display: none;
}

.box {
  height: 550px;
  margin: -255px auto auto;
}

.problem-content {
  height: 400px;
}

.mobile-warning {
  display: none;
}

@media (max-height: 725px) {
  .box {
    height: 450px;
    margin: -205px auto auto;
  }

  .problem-content {
    height: 300px;
  }
}

@media (max-height: 625px) {
  .box {
    height: 400px;
    margin: -190px auto auto;
  }

  .problem-content {
    height: 250px;
  }
}

@media (max-width: 1199px) {
  .content {
    max-width: 100%;
    padding: 0 245px 125px 255px;
  }

  .table-container-container {
    padding: 0 25px;
  }
}

@media (max-width: 1020px) {
  .nav, .home-nav {
    padding: 0 15px;
  }
}

@media (max-width: 899px) {
  .arrow {
    display: none;
  }

  .tab-sticky {
    display: none;
  }

  .nav-search {
    display: none;
  }

  .banner-text{
    padding: 0 15px;
  }

  .banner {
    padding-bottom: 50px;
  }

  .nav-icon {
    display: none;
  }

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: inline;
  }

  .home-search {
    position: absolute;
    width: 20px;
  }

  .home-icon {
    z-index: 3;
    pointer-events: none;
  }

  .home-search:focus {
    width: 210px;
    z-index: 2;
    background: #11aacc;
    box-shadow: 0 0 10px 10px #11aacc;
    opacity: 0.9;
    border-radius: 5px;
  }

  .exams td:nth-child(3), .exams th:nth-child(3) {
    display: none;
  }

  .content {
    padding: 0 25px 125px;
  }

  .table-container-container {
    padding: 0 25px;
  }

  .banner-screen {
    height: 75px;
    opacity: 0;
  }

  .info-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-container h4 {
    padding-top: 15px;
  }

  .gray-filler {
    display: none;
  }
}

@media (max-width: 700px) {
  .mobile-warning {
    display: block;
  }
}

@media (max-width: 499px) {
  .modal-logo {
    padding: 40px 25px;
  }

  .gray-nav .utility-button {
    display: none;
  }

  .question {
    overflow-x: auto;
  }

  .department {
    padding: 0 20px;
  }

  .department h1 {
    padding-left: 0;
    margin-left: 0;
  }

  .course-card {
    width: 100%;
    max-width: 100%;
    margin: 5px 0 10px;
  }

  .topic-card-container {
    padding: 0 20px;
  }

  .topic-card {
    width: 100%;
    max-width: 100%;
    margin: 5px 0 10px;
  }

  .exams td:nth-child(4), .exams th:nth-child(4), .exams td:nth-child(5), .exams th:nth-child(5) {
    display: none;
  }

  .results-container {
    max-width: 275px;
  }
}
