.contentContainer {
  margin: 10px;
}

.contentContainer .contentNavCol {
  float: left;
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 5px;
}

.contentContainer .contentCol textarea {
  width: 500px;
  height: 300px;
}

.contentContainer .backLink {
  margin-bottom: 20px;
}

.contentContainer .highlighted {
  color: blue;
}

.contentContainer input, .contentContainer select, .contentContainer button {
  border: 1px solid black;
  border-radius: 1px;
}
