* {
  vertical-align: center;
  font-style: normal;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
}

body {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.test {
  margin: auto;
  max-width: 1020px;
  padding: 0 100px;
}

h1 {
  line-height: initial;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #111;
}

h2 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #111;
}

h3 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  /*s2*/
  padding-bottom: 20px;
}

h4 {
  line-height: initial;
  margin-top: 5px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #666;
}

h5 {
  line-height: initial;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}

h6 {
  line-height: initial;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.h5-alt {
  font-size: 22px;
  color: #fff;
  opacity: 0.8;
  padding: 0 50px;
}

.banner {
  position: absolute;
  background: #11accd;
  width: 100%;
  top: 0;
  left: 0;
}

.shadow-banner {
  opacity: 0;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border-bottom: 1px dashed #333;
  font-size: 16px;
  color: #333;
}

a:hover {
  cursor: pointer;
  color: #11accd;
  border-bottom: 1px dashed #11accd;
}

i {
  font-size: inherit;
  font-style: italic;
  color: #999;
}

input {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
}

input:focus {
  border: 1px solid #11accd;
}

input[type=button] {
  padding: 10px 15px 12px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  color: #fff;
  opacity: 0.8;
  -webkit-appearance: none;
}

label {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.toggle {
  border: 1px solid #999;
  border-radius: 5px;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
}

.btn {
  padding: 6px 12px;
}

.blue, .btn-primary {
  background: #11accd;
}

.gray, .btn-default {
  background: #999;
}

.toggle-handle {
  display: block;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #999;
}

img {
  max-width: 100%;
}

.solution {
  margin: 15px 0;
  border-radius: 5px;
  padding: 25px;
  color: #11accd;
  border: 1px solid #11accd;
}

.problem-image {
  margin: 25px 0;
}

input[type=text] {
  padding: 6px;
  height: 36px;
}

input[type=button]:hover {
  cursor: pointer;
  opacity: 1;
}

.no-input {
  color: #11accd;
}

.cell {
  text-align: center;
  height: 36px;
  width: 36px;
  margin: 6px;
}

.sidebar {
  display: block;
  box-sizing: border-box;
  float: left;
  margin-right: 40px;
  width: 200px;
  top: 0;
}

.sidetitle {
  font-size: 16px;
  line-height: 32px;
  border-bottom: none;
  font-weight: 700;
  color: #333;
}

.sidetab {
  font-size: 14px;
  position: relative;
  left: 16px;
  margin-right: 16px;
  line-height: 32px;
}

.selector {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
}

.content {
  float: right;
  max-width: 580px;
}

.return {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
}

.card-container {
  max-width: 1200px;
}

.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 260px;
  height: 360px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.card:hover {
  cursor: pointer;
  background: #eee;
  border: 1px solid #11accd;
}

.card-helper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
  color: #ccc;
}

.card:hover .card-helper {
  color: #11accd;
}

.center {
  text-align: center;
  margin: auto;
}

.s1, .s2, .s3, .s4, .s5 {
  display: block;
  width: 100%;
  clear: both;
}

.s1 {
  height: 10px;
}

.s2 {
  height: 20px;
}

.s3 {
  height: 30px;
}

.s4 {
  height: 40px;
}

.s5 {
  height: 50px;
}

.margin {
  display: block;
  width: 100%;
  clear: both;
  height: 100px;
}

.hidden {
  display: none;
}

.screen {
  display: initial;
}

.mobile {
  display: none;
}

@media (max-width: 1019px) {
  .return {
    position: absolute;
  }
  
  .test {
    padding: 0 50px;
  }

  .sidebar {
    padding: 0;
    width: 100%;
  }

  .content {
    max-width: 100%;
  }

  .screen {
    display: none;
  }

  .mobile {
    display: initial;
  }
}

@media (max-width: 599px) {
  .test {
    padding: 0 25px;
  }
}
