* {
  vertical-align: center;
  font-style: normal;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
}

body {
  position: relative;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
  color: #333;
}

.shift {
  display: block;
  max-width: 100%;
  position: relative;
  left: 125px;
}

.test {
  margin: auto;
  max-width: 1020px;
  padding: 0 95px;
}

h1 {
  line-height: initial;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #111;
}

h2 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #111;
}

h3 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  /*s2*/
  padding-bottom: 20px;
}

h4 {
  line-height: initial;
  margin-top: 5px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #666;
}

h5 {
  line-height: initial;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}

h6 {
  line-height: initial;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

code {
  font-size: 14px;
  line-height: 10px;
  white-space: nowrap;
}

li {
  margin-left: 40px;
}

.small-text, .small-text * {
  font-size: 14px;
}

.h5-alt {
  font-size: 22px;
  color: #fff;
  opacity: 0.8;
  padding: 0 50px;
}

::-moz-selection {
  color: #fff;
  background: #11accc;
}

::selection {
  color: #fff;
  background: #11accc;
}

.banner {
  background: #11accc;
  width: 100%;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #999;
  font-size: 16px;
  color: #333;
}

a:hover {
  cursor: pointer;
  color: #11accc;
  border-bottom: 1px solid #11accc;
}

i {
  font-size: inherit;
  font-style: italic;
  color: #999;
}

input {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
}

input:focus {
  border: 1px solid #11accc;
}

input[type=button] {
  padding: 10px 15px 12px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  color: #fff;
  opacity: 0.8;
  -webkit-appearance: none;
}

label {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.toggle {
  border: 1px solid #999;
  border-radius: 5px;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
}

.btn {
  padding: 6px 12px;
}

.blue, .btn-primary {
  background: #11accc;
}

.gray, .btn-default {
  background: #999;
}

.light-gray {
  background: #ececec;
}

.toggle-handle {
  display: block;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #999;
}

img {
  max-width: 100%;
}

.solution {
  margin: 15px 0;
  border-radius: 5px;
  padding: 25px;
  color: #11accc;
  border: 1px solid #11accc;
  overflow-x: auto;
}

.solution * {
  color: #11accc;
}

.solution img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.problem-image {
  margin: 25px 0;
}

input[type=text] {
  padding: 6px;
  height: 36px;
}

input[type=button]:hover {
  cursor: pointer;
  opacity: 1;
}

.no-input {
  color: #11accc;
}

.cell {
  text-align: center;
  height: 36px;
  width: 36px;
  margin: 6px;
}

.sidebar {
  display: block;
  box-sizing: border-box;
  float: left;
  margin-right: 40px;
  width: 200px;
  top: 0;
  position: relative;
  z-index: 1;
}

.sidetitle {
  font-size: 16px;
  line-height: 32px;
  border-bottom: none;
  font-weight: 700;
  color: #333;
}

.sidetab-container {
  margin: 5px 0 10px;
}

.sidetab {
  font-size: 14px;
  position: relative;
  left: 16px;
  margin-right: 16px;
  line-height: 22px;
}

.selector {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
}

.content {
  float: right;
  max-width: 580px;
}

/*super savant hack*/
.content {
  position: relative;
  top: -240px;
}

.content-spacer {
  height: 240px;
}

.first-q {
  padding-top: 240px;
}

.return {
  display: none;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ccc;
  border-bottom: none;
}

.return:hover {
  border-bottom: none;
}

.collapse {
  position: fixed;
  top: 25px;
  left: 275px;
  z-index: 1;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ccc;
  border-bottom: none;
}

.iscollapsed {
  left: 25px;
}

.return:hover, .collapse:hover {
  border-bottom: none;
}

.feedback {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 1;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ccc;
  border-bottom: none;
}

.feedback:hover {
  border-bottom: none;
}

.home-link {
  position: absolute;
  color: #fff;
}

.home-link:hover {
  color: #ccc;
}

.card-container {
  margin: auto;
  max-width: 1200px;
}

.course-card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 400px;
  height: 250px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.course-card:hover {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #11accc;
}

.course-card:hover .card-helper {
  color: #11accc;
}

.course-subtitle {
  font-size: 18px;
}

.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 260px;
  height: 360px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.card:hover {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #11accc;
}

.card-subtitle {
  padding-top: 1px;
  color: #666;
}

.card-helper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
  color: #ccc;
}

.card:hover .card-helper {
  color: #11accc;
}

.form-container {
  margin: auto;
  max-width: 800px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 250px;
  padding: 120px 30px;
  background: #333;
}

.menu h4 {
  color: #ccc;
}

.menu .sidetitle {
  color: #ddd;
}

.menu .sidetab {
  color: #aaa;
  border-bottom: 1px solid #888;
}

.menu .sidetab:hover {
  color: #11accd;
  border-bottom: 1px solid #11accd;
}

.menu .active {
  color: #11accd;
  border-bottom: 1px solid #11accd;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  display: block;
  padding: 40px;
  color: #eee;
  background: #222;
  font-weight: 400;
  font-size: 22px;
  border-bottom: none;
}

.home:hover {
  border-bottom: none;
  background: #111;
}

.index {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  display: block;
  padding: 15px 25px;
  color: #aaa;
  background: #444;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: none;
}

.index:hover {
  border-bottom: none;
  background: #222;
}

.column {
  padding: 10px;
  display: inline-block;
  max-width: 320px;
}

.column * {
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
}

.s1, .s2, .s3, .s4, .s5 {
  display: block;
  width: 100%;
  clear: both;
}

.s1 {
  height: 10px;
}

.s2 {
  height: 20px;
}

.s3 {
  height: 30px;
}

.s4 {
  height: 40px;
}

.s5 {
  height: 50px;
}

.margin {
  display: block;
  width: 100%;
  clear: both;
  height: 100px;
}

.margin-alt {
  display: block;
  width: 100%;
  clear: both;
  height: 75px;
}

.white-text {
  color: #fff;
}

.footer-link {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.footer-link:hover {
  color: #ccc;
  border-bottom: 1px dashed #ccc;
}

.hidden {
  display: none;
}

.active {
  color: #11accc;
  border-color: #11accc;
}

.screen {
  display: initial;
}

.mobile {
  display: none;
}

.table-container-container {
  margin: auto;
  max-width: 1150px;
  padding: 0 25px;
}

.table-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
}

.exams {
  width: 100%;
  border-collapse: collapse;
}

.exams th:last-child, .exams td:last-child {
  width: 200px;
  padding-right: 0;
}

.exams thead tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}

.exams thead tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}

.exams tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.exams tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.exams th, .exams td {
  padding: 15px;
  text-align: left;
}

.exams td {
  opacity: 0.4;
}

.exams tr.available td {
  padding: 0;
  opacity: 1;
}

.exams tr td a {
  border-bottom: none;
  text-align: left;
  padding: 15px;
  display: block;
  height: 100%;
  width: 100%;
}

.exams tr td a:hover {
  color: #333;
  border-bottom: none;
}

.exams th {
  background: #11accc;
  color: white;
}

.exams tr {
  background: #fff;
}

.exams tr:nth-child(even) {
  background: #efefef;
}

.table-link {
  display: block;
  margin-top: -5px;
  border-bottom: none;
  color: #999;
}

.table-link:hover {
  border-bottom: none;
}

tr.available:hover {
  cursor: pointer;
  background: #ddd;
}

tr.available:hover .table-link {
  color: #11accc;
}

.test table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.test th, .test td {
  border: 1px solid #ccc;
  padding: 10px;
}

.special-table {
  position: relative;
  left: -7px;
}

@media (max-width: 1599px) {
  .table-container {
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 1199px) {
  body, .shift {
    left: 0 !important;
  }

  .menu, .collapse {
    display: none;
  }

  .return {
    display: initial;
  }

  .big-screen {
    display: none;
  }
}

@media (max-width: 1019px) {
  .return, .feedback {
    position: absolute;
  }
  
  .test {
    padding: 0 50px;
  }

  .sidebar {
    position: relative !important;
    padding: 0;
    width: 100%;
  }

  .content {
    max-width: 100%;
  }

  .screen {
    display: none;
  }

  .mobile {
    display: initial;
  }
}

@media (max-width: 599px) {
  .test {
    padding: 0 25px;
  }

  td:nth-child(3), th:nth-child(3) {
    display: none;
  }
}

@media (max-width: 449px) {
  .course-card {
    width: 300px;
  }
}
