/*GENERAL*/

* {
  vertical-align: baseline;
  font-style: normal;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
}

body {
  position: relative;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
  color: #333;
}

.content {
  margin: auto;
  padding: 0 50px 125px;
  /*80 monospaced characters*/
  max-width: 775px;
}

/*left: shift for visual adjustment*/
.question {
  position: relative;
  left: 5px;
  padding-top: 50px;
}

/*TYPOGRAPHY*/

h1 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #111;
  padding-bottom: 20px;
}

h2 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  padding-bottom: 20px;
}

h3 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #555;
}

/*title*/
h4 {
  line-height: initial;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #111;
  padding: 125px 0 10px;
}

/*subtitle*/
h5 {
  line-height: initial;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}

/*alttitle*/
h6 {
  line-height: initial;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase;
}

code {
  font-size: 14px;
  line-height: 14px;
  white-space: pre-wrap;
}

li {
  margin-left: 40px;
}

.small-text, .small-text * {
  font-size: 14px;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

a:hover {
  cursor: pointer;
  color: #11accc;
}

i {
  font-size: inherit;
  font-style: italic;
  color: #999;
}

/*INTERFACE*/
input[type=button] {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 15px 12px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  color: #fff;
  opacity: 0.8;
  -webkit-appearance: none;
}

input[type=button]:hover {
  cursor: pointer;
  opacity: 1;
}

img {
  max-width: 100%;
}

.question img {
  margin: 25px 0;
}

.solution {
  margin: 15px 0;
  border-radius: 5px;
  padding: 25px;
  color: #11accc;
  border: 1px solid #11accc;
  overflow-x: auto;
}

.solution * {
  color: #11accc;
}

.solution img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: -35px;
  color: #ccc;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.link:hover {
  cursor: pointer;
  color: #11accc;
}

.question table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.question th, .question td {
  border: 1px solid #ccc;
  padding: 10px;
}

.table-container-container {
  max-width: 100%;
  padding: 0 300px;
}

.table-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
}

.exams {
  width: 100%;
  border-collapse: collapse;
}

.exams th:last-child, .exams td:last-child {
  width: 200px;
  padding-right: 0;
}

.exams thead tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}

.exams thead tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}

.exams tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.exams tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.exams th, .exams td {
  padding: 15px;
  text-align: left;
}

.exams td {
  opacity: 0.4;
}

.exams tr.available td {
  padding: 0;
  opacity: 1;
}

.exams tr td a {
  border-bottom: none;
  text-align: left;
  padding: 15px;
  display: block;
  height: 100%;
  width: 100%;
}

.exams tr td a:hover {
  color: #333;
  border-bottom: none;
}

.exams th {
  background: #11accc;
  color: white;
}

.exams tr {
  background: #fff;
}

.exams tr:nth-child(even) {
  background: #efefef;
}

.exams h6 {
  margin: 0;
}

.exams .table-link {
  border-bottom: none;
  color: #999;
}

.exams .table-link:hover {
  color: #11accc;
  border-bottom: none;
}

.exams tr.available:hover {
  cursor: pointer;
  background: #ddd;
}

.exams tr.available:hover .table-link {
  color: #11accc;
}

.option {
  text-align: left;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

.option:hover {
  border: 1px solid #11accc;
  color: #11accc;
  cursor: pointer;
}

.option:focus {
  border: 1px solid #e84d39;
  color: #e84d39;
}

.option.right:focus {
  border: 1px solid #1fab54;
  color: #1fab54;
}

.option img {
  vertical-align: middle;
  padding-left: 10px;
  max-height: 80px;
}

.reader .link, .reader input[type="button"], .reader .solution {
  visibility: hidden
}

.reader .option {
  border: none;
  padding: 30px 0 0;
}

.reader .option:hover {
  cursor: pointer;
  color: #666;
}

.reader .option:focus {
  color: #666;
  border: none;
}

.mc-question .solution {
  padding: 15px;
}

.mc-question .solution img {
  vertical-align: middle;
  padding-left: 10px;
  max-height: 80px;
}

/*NAVIGATION*/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 50px;
  text-align: right;
  padding: 0 25px;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.nav * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav .material-icons {
  margin: 10px 0 10px 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
  font-size: 20px;
  color: #999;
  background: #eee;
  border: 1px solid #ccc;
}

.nav .material-icons:hover {
  color: #fff;
  background: #11accc;
}

.logo {
  float: left;
  padding: 14px 0;
  font-size: 18px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.question .tooltip-container {
  display: block;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: 130px;
  background: #444;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -25%;
  margin-left: -65px;
}

.tooltip-container .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 75%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #444 transparent;
}

.tooltip-container .material-icons:hover + .tooltip {
  visibility: visible;
}

.tooltip-container .tooltip-link {
  visibility: hidden;
  width: 130px;
  background: #444;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 20px;
  margin-left: -65px;
}

.tooltip-container .tooltip-link::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 80%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
}

.tooltip-container .material-icons:hover + .tooltip-link {
  visibility: visible;
}

.tooltip-container .tooltip-long {
  width: 160px;
}

.tooltip-container .tooltip-long::after {
  left: 62%;
}

.app-mode {
  position: fixed;
  top: 10px;
  right: 25px;
  width: 30px;
  height: 30px;
  padding: 4px;
}

.app-mode * {
  color: #ccc;
}

.app-mode .tooltip {
  top: 135%;
  left: -65%;
}

.menu {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  padding: 25px;
  background: #fafafa;
  border-right: 1px solid #ccc;
}

.sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  padding: 25px;
  background: #fafafa;
  border-left: 1px solid #ccc;
}

.sidearrow {
  position: relative;
  top: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidetitle {
  font-size: 16px;
  line-height: 32px;
  border-bottom: none;
  font-weight: 700;
  color: #666;
}

.sidetitle:hover {
  cursor: pointer;
  color: #11accc;
}

.sidetab-container {
  margin: 6px 12px 10px;
  line-height: 18px;
}

.sidetab {
  font-size: 14px;
  color: #999;
}

/*LANDING*/

.banner {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 100px 0 0;
}

.banner-screen {
  width: 100%;
  max-width: 1020px;
}

.banner-img::after {
  background: -moz-linear-gradient(30deg, #11accc 30%, rgba(17,172,204,0.85) 100%);
  background: -webkit-linear-gradient(30deg, #11accc 30%, rgba(17,172,204,0.85) 100%);
  background: linear-gradient(30deg, #11accc 30%, rgba(17,172,204,0.85) 100%);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.banner-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: url('img/banner.jpg');
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: relative;
  z-index: 2;
}

.banner-header {
  line-height: normal;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.home-button-container {
  padding-top: 40px;
}

.home-button {
  background: #fff;
  color: #11accc;
  border: 1px solid #fff;
  padding: 10px 0 11px;
  margin: 15px;
  width: 140px;
  display: inline-block;
  border-radius: 5px;
  opacity: 0.8;
}

.home-button-alt {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.home-button:hover {
  opacity: 1;
}

.home-button-alt:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  opacity: 1;
}

.h5-alt {
  font-size: 22px;
  color: #fff;
  opacity: 0.8;
  padding: 0 50px;
}

.home h1 {
  padding: 0;
}

.home h4 {
  padding: 0;
}

.card-container-container {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.card-container {
  margin: auto;
  max-width: 1200px;
}

.course-card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 370px;
  height: 230px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.course-card:hover {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #11accc;
}

.course-card:hover .card-helper {
  color: #11accc;
}

.course-subtitle {
  font-size: 18px;
}

.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 30px;
  width: 260px;
  height: 360px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.card:hover {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #11accc;
}

.card-subtitle {
  padding-top: 1px;
  color: #666;
}

.card-helper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
  color: #ccc;
  margin-bottom: 1px;
}

.card:hover .card-helper {
  color: #11accc;
}

.column {
  padding: 10px;
  display: inline-block;
  max-width: 320px;
}

.column .material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 36px;
  color: #ccc;
  padding: 5px 0 15px;
}

.column * {
  text-align: center;
}

.footer-link, .header-link {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.footer-link:hover {
  color: #ccc;
  border-bottom: 1px dashed #ccc;
}

.header-link:hover {
  color: #11accc;
  border-bottom: 1px dashed #11accc;
}

.notification-text {
  position: relative;
  /*Pixel pushing for vertical centering*/
  top: 1px;
  display: block;
  padding: 0 50px;
}

.notification-x {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: #fff;
  z-index: 2;
  float: right;
  right: 15px;
}

/*BASIC*/

::-moz-selection {
  color: #fff;
  background: #11accc;
}

::selection {
  color: #fff;
  background: #11accc;
}

.center {
  text-align: center;
  margin: auto;
}

.white-text {
  color: #fff;
}

.blue {
  background: #11accc !important;
}

.blue::after {
  border-color: #11accc transparent transparent transparent !important;
}

.gray {
  background: #999 !important;
}

.light-gray {
  background: #efefef;
}

.dark-gray {
  background: #444;
}

.s1, .s2, .s3, .s4, .s5, .margin {
  display: block;
  width: 100%;
  clear: both;
}

.s1 {
  height: 10px;
}

.s2 {
  height: 20px;
}

.s3 {
  height: 30px;
}

.s4 {
  height: 40px;
}

.s5 {
  height: 50px;
}

.margin {
  height: 75px;
}

.active {
  color: #11accc;
  border-color: #11accc;
}

.hidden {
  display: none;
}

.mobile-back {
  display: none;
  float: left;
  margin-left: 0 !important;
}

/*RESPONSIVENESS*/

@media (max-width: 1199px) {
  .content {
    max-width: 100%;
    padding: 0 245px 125px 255px;
  }

  .table-container-container {
    padding: 0 250px;
  }
}

@media (max-width: 899px) {
  .nav {
    padding: 0 10px;
  }

  .app-mode {
    right: 10px;
  }

  .exams td:nth-child(3), .exams th:nth-child(3) {
    display: none;
  }

  .content {
    padding: 0 25px 125px;
  }

  .table-container-container {
    padding: 0 25px;
  }

  .menu, .sidebar {
    display: none;
  }

  .tooltip {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile-back {
    display: initial;
  }

  .link {
    display: none;
  }

  .content {
    overflow-x: auto;
  }

  .question {
    left: 0;
  }

  .banner-screen {
    margin-top: 15px;
  }
}

@media (max-width: 399px) {
  .course-card {
    width: 90%;
    margin: 15px 5%;
  }

  .exams td:nth-child(4), .exams th:nth-child(4) {
    display: none;
  }
}
